<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Buscar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <form action="/getLayawayList" method="POST">
      <p>CONSULTAR COMICS APARTADOS</p>
      <label for="loginno">{{loginno}}</label><br />
      <label for="token">Token</label><br />
      <input type="text" id="token" name="token" /><br /><br />
      <button type="submit" class="btn btn-primary">Consultar</button>
    </form>
  </body>
</html>
